.hero-wrapper {
    color: white;
    position: relative;
    padding-bottom: 2rem;
    // background-color: var(--black);

    .hero-container {
        justify-content: space-between;
        align-items: center;



        .hero-left {
            gap: 3rem;

            .hero-title {
                position: relative;
                z-index: 1;

                h1 {
                    font-weight: 600;
                    font-size: 2.8rem;
                    line-height: 4rem;
                }

                .orange-circle {
                    height: 4rem;
                    width: 4rem;
                    background: var(--orange-gradient);
                    border-radius: 999px;
                    position: absolute;
                    right: 46%;
                    top: -9%;
                    z-index: -1;
                }

            }

            .search-bar {
                display: flex;
                align-items: center;
                width: 100%;

                input {
                    border: none;
                    outline: none;
                }
            }

            .stats {
                width: 100%;
                justify-content: space-between;

                .stat>:nth-child(1) {
                    font-size: 2rem;
                }

                // targeting + sign
                .stat>:nth-child(1)>:last-child {
                    color: orange;
                }



            }

        }

        .hero-right {

            //right-sider
            .image-container {
                width: 30rem;
                height: 35rem;
                overflow: hidden;
                border-radius: 15rem 15rem 0 0;
                border: 8px solid rgba(255, 255, 255, 0.12);

                img {
                    width: 100%;
                    height: 100%;
                }
            }





        }
    }
}